html,
body {
    height: 100%;
}
body {
    font-size: 16px;
    font-weight: 400;
    min-width: 375px;
    line-height: 1.3;
}
.container {
    max-width: 1300px;
    margin: auto;
}
button {
    border: none;
}
p {
    font-family: "Archivo", sans-serif;
}
.main {
    flex-grow: 1;
    padding-top: 20px;
}

.navbar {
    background-color: rgba(242, 242, 242, 0.9);
    padding: 15px;
    min-width: 330px;
    height: 65px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.navbar__links {
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 1px;
    font-family: "Archivo", sans-serif;
}

.navbar__links {
    position: relative;
    cursor: pointer;
    line-height: 1; /*задаём высоту строки*/
    text-decoration: none; /*убираем подчёркивание*/
}
.navbar__links:after {
    padding-bottom: 2px;
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #d1b746; /*задаём цвет линии*/
    content: "";
    margin-top: 5px;
    transition: width 0.3s ease-out; /*задаём время анимации*/
}

.navbar__links:hover:after,
.navbar__links:focus:after {
    width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.logo {
    width: 250px;
    height: 120px;
}
.navbar ul.links {
    margin-left: auto;
    margin-right: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    transition:
        0.4s ease all,
        0s ease background;
    height: 100%;
}
.navbar ul.links li {
    text-transform: uppercase;
    padding: 0 15px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        0.4s ease all,
        0s ease margin;
}

.content {
    background-size: cover;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__bg {
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./images/header_bg.jpg);

    height: 95vh;
}

.main__text {
    padding: 10px 0;
    width: 700px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a,
p {
    line-height: 1.3;
}

.main__title-secound {
    justify-self: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
    margin-top: 35px;
    font-size: 25px;
    letter-spacing: 3px;
}

.main__title {
    font-size: 47px;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
}

.midle__card-section {
    display: grid;
    grid-template-columns: 375px 375px 375px;
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 25px;
}
.midle_cards {
    background-image: url(images/card_1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 45px 45px;
    border-radius: 15px;
}

.midle_cards-red {
    background-image: url(images/card_2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 45px 45px;
    border-radius: 15px;
}

.midle__card-title {
    border-bottom: 4px solid #884040;
    font-size: 32px;
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}
.midle__card-text {
    font-family: "Archivo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}

.midle__title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: "Archivo", sans-serif;
}
.bestLogistic {
    margin: auto;
    margin-top: 45px;
    display: flex;
    margin-bottom: 20px;

    position: relative;
}
.bestLogistic_block {
    margin-left: 20px;
}

.bestLogistic_item {
    background-color: rgba(242, 242, 242, 0.719);
    padding-left: 25px;
    padding-bottom: 15px;
    gap: 20px;
    padding-top: 15px;
    display: flex;
    width: 350px;
    border-radius: 5px;
}
.bestLogistic_item,
.bestLogistic_item {
    margin-top: 20px;
}

.bestLogistic_item-title {
    font-size: 28px;
}
.bestLogistic_item-position {
    position: absolute;
    bottom: 40px;
    left: 300px;
}
.bestLogistic__text {
    max-width: 550px;
    padding-top: 25px;
}
.bestLogistic__title {
    margin-top: 25px;
}
.ourServices {
    background-image: url(images/ourServices.jpg);
    padding: 75px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    background-attachment: fixed;
}
.ourServices__text {
    font-size: 25px;
    padding: 10px 25px 0 25px;
}
.ourServices_position {
    text-align: center;
    margin: auto;
}
.services__btn {
    padding: 15px 15px;
    font-size: 18px;
}

.footer__info-block {
    background-image: url(images/onlineQuete.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    padding: 75px 0;
    color: #fff;
}
.footer__info-title {
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
}
.footer__info-text {
    font-size: 25px;
    padding-top: 5px;
    font-weight: bold;
}
.qualificationBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.qualificationBlock-borders {
    width: 650px;
    border: 1px solid #989898;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.qualification__title {
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
}
.qualificationBlock-textBlock {
    margin-top: 75px;
}
.qualification-midleBlock {
    position: absolute;

    background-color: rgba(242, 242, 242, 0.9);
    border-radius: 5px;
    left: 150px;
    max-width: 350px;
    padding: 35px;
    top: 250px;
}
.qualification__title-text {
    padding: 15px;
}
.qualification__midleBlock-btn {
    padding: 25px;
    background: #000;
    color: #fff;
    font-size: 20px;
    font-family: "Archivo", sans-serif;
    margin-top: 25px;
    border-radius: 15px;
    margin-left: 120px;
}

.footer {
    background-image: url(images/footer_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 150px;
}
.footer-position {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.footer-position-nav {
    justify-content: space-around;
    display: flex;
}
.footer-position-certification {
    text-align: center;
    border-top: 0.5px solid rgb(176, 171, 171);
    padding: 25px 0;
    margin-top: 100px;
}
.footer__block-logos {
    justify-content: space-between;
    max-width: 200px;
    margin-top: 25px;
    text-align: center;
    display: flex;
}
.footer__block-nav-items h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.footer-position h4 {
    font-size: 28px;
    margin-bottom: 15px;
}
.footer-position p {
    font-size: 16px;
    margin-bottom: 15px;
}
.solution__header {
    background-image: url(images/transportSolution_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.solution__nav-bg {
    background-color: rgba(242, 242, 242, 0.5);
}
.solution__title {
    font-size: 48px;
    font-family: "Archivo", sans-serif;
    color: #fff;
    letter-spacing: 5px;
}
.solution__title-secound {
    font-size: 20px;
    color: #fff;
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    letter-spacing: 7px;
}
.solution__header-container {
    padding-top: 10%;
}

.solution__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 3px;
    max-width: 750px;
    color: #fff;
}
.solution__nav-list {
    border-top: 1px solid rgba(242, 242, 242, 0.5);
    justify-content: space-around;
    padding: 25px 0;
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 300;
    margin-top: 45px;
}
.solution__main-block {
    display: flex;
}
.solution__main-block-border {
    border: 2px solid black;
    max-width: 600px;
    padding: 25px;
}
.solution__main-block p {
    color: #000;

    font-family: "Archivo", sans-serif;
}
.solution__main-block-border div {
    display: flex;
    margin: auto;
}
.solution__main-block-titleColor {
    color: #000;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.solution__main-button {
    padding: 15px;
    background: black;
    font-size: 18px;
    color: #fff;
    margin: 44px 5px;
    width: 245px;
    border: none;
}
.solution__main-button-gold {
    padding: 15px;
    background: #d1b746 !important;
    color: #000 !important;
    font-size: 18px;
    margin: 44px 5px;
    width: 245px;
    border: none;
}
.about__header {
    padding-bottom: 10%;
    padding-top: 10%;
}
.aboutUs__header {
    font-size: 48px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 400;
}
.about__section-title {
    font-size: 18px;
    color: #000;
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    letter-spacing: 7px;
}
.about__title {
    font-size: 36px;
    color: #000;
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.about__warning-text {
    background: #e9a9aa;
    border-left: 4px solid #a60002;
    padding: 15px;
    font-family: "Archivo", sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
}
.about__section-block {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.about__section-block-size {
    max-width: 533px;
    margin-right: 100px;
}
/* .contact__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin-top: 45px;
} */
.contact__block-inputtSection {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.contact__block-inputtSection input {
    padding: 5px;
    border: 1px solid #827437;
    font-size: 26px;
    color: #000;
    font-family: "Archivo", sans-serif;
    border-radius: 5px;
    background: #eaeaea;
}
.contact__block-position {
    margin-top: 45px;
}
.contact__block-submitbtn {
    padding: 15px;
    background: #d1b746 !important;
    color: #000 !important;
    font-size: 18px;
    margin-top: 15px;
    border: none;
}
.form__input {
    padding: 10px;
    border: 1px solid #827437;
    font-size: 26px;
    color: #000;
    font-family: "Archivo", sans-serif;
    border-radius: 15px;
    background: #eaeaea;
    margin: 10px;
}
.contact__block-mainForm {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* gap: px; */
}

.contact__block-text {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

.contact__form {
    background-image: url(images/contactBlock.jpg);
    padding: 50px;
}

.contact__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.contact__block-btn-position {
    text-align: end;
}
.contact__block-btn-position button {
    margin-top: 35px;
}

.contact__block-shortForm {
    padding: 45px;
    background: #fff;
    border-radius: 15px;
}
.contact__block-title {
    font-size: 36px;
    font-family: "Archivo", sans-serif;
}

.contact__block-shortForm {
    display: grid;
    grid-template-columns: 1fr;
}

.contact__block-shortForm input {
    padding: 15px;
    border: 1px solid #827437;
    font-size: 26px;
    color: #000;
    font-family: "Archivo", sans-serif;
    border-radius: 15px;
    background: #eaeaea;
    margin-top: 25px;
}
.contact__block-btn {
    font-size: 18px;
    color: white;
    font-weight: bold;
    line-height: 1.3;
    background: black;
    padding-top: 25px;
    padding-bottom: 25px;
    padding: 25px 100px;
    border-radius: 15px;
    margin-top: 35px;
}
.about__section-block-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header__container {
    padding-top: 300px;
    padding-left: 20px;
}
.header__title-slog {
    text-transform: uppercase;
    font-size: 27px;
    letter-spacing: 10px;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
}
.header__title-logo {
    font-size: 47px;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
}
.header__title-text {
    font-size: 22px;
    max-width: 660px;
    margin-bottom: 10px;
}

.header__btn-section,
.services__btn {
    margin-right: 15px;
    margin-top: 5px;
}

.btn-new {
    font-weight: bold;
    font-family: "Archivo", sans-serif;
    border-radius: 10px;
    color: #000;
    transition: 0.2s linear;
    background: #d1b746;
    position: relative;
    box-shadow:
        2px 2px #000,
        4px 4px #d1b746;
    top: -4px;
    left: -4px;
}

.btn-new:hover {
    top: 0;
    left: 0;
}
.btn-new-gold {
    font-weight: bold;
    font-family: "Archivo", sans-serif;
    border-radius: 10px;
    color: #d1b746;
    transition: 0.2s linear;
    background: #000;
    position: relative;
    box-shadow:
        2px 2px #000,
        4px 4px #d1b746;
    top: -4px;
    left: -4px;
}
.services__btn-section {
    margin-top: 25px;
}
.btn-new-gold:hover {
    top: 0;
    left: 0;
}

.delivery__position {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
}
.delivery__position h1 {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main__container__title {
    text-align: center;
}

.planingCard-item {
    padding: 30px 25px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.96);
}
.planingCard-pcSection{
    display: flex;
}
.planingCard-pcSection-img{
    height: 393.8px;
}
.planingCard-img{
    display: none;
}
.planingCard-title{
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 15px 0;
    text-align: center;
    border-bottom: 3px solid black;
}

@media (max-width: 1200px) {
    .planingCard-pcSection-img{
        display: none;
    }
    .planingCard-item {
        padding: 30px 25px;
        border-radius: 5px;
        background-color: rgba(242, 242, 242, 0.96);
        margin-top: 15px;
margin-bottom: 25px;
        max-width: 650px;
        position: relative;
        z-index: 999;
    }

    .planingCard {
        display: flex;
    }
    .planingCard-img {
        position: absolute;
display: block;
        right: 0;
        z-index: 12;
    }
    .planingCard-img img {
        height: 530px;
        z-index: 12;
    }

    .header__bg {
        max-height: 500px;
    }
    .header__title-slog {
        font-size: 20px;
    }
    .header__title-logo {
        font-size: 35px;
    }
    .header__title-text {
        padding-top: 7px;
        font-size: 18px;
        max-width: 550px;
    }

    .toggle {
        position: absolute;
        top: 45px;
        right: 20px;
        z-index: 99;
        transform: translateY(-50%);
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        background: #d1b746;
        border-radius: 5px;
        margin-right: 25px;
        justify-content: center;
        align-items: center;
    }
    .toggle > * {
        width: 90%;
        height: 2px;
        background: black;
        margin: 3px 0;
    }
    .navbar.collapsed .toggle .line1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }
    .navbar.collapsed .toggle .line2 {
        opacity: 0;
    }
    .navbar.collapsed .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .navbar.collapsed .logo {
        position: absolute;
        z-index: 44;
    }
    .navbar .links {
        position: fixed;
        background: rgba(24, 22, 22, 0.9);
        font-family: "Nunito";
        z-index: 40;
        top: 0;
        left: -100%;
        flex-direction: column;
        width: 75vw;
        height: 100vh;
    }
    .navbar .links li:first-child {
        margin-top: 80px;
    }
    .navbar.collapsed .links {
        left: 0;
    }
    .navbar.collapsed .links a {
        color: #fff;
    }
    .navbar.collapsed .links li {
        width: 100%;
    }
    .navbar.collapsed .links li:hover a {
        color: #080808;
    }

    .navbar.collapsed ~ main {
        filter: blur(1px);
        opacity: 0.8;
    }

    .bestLogistic__title {
        margin-top: 15px;
    }
    .midle__title {
        text-transform: uppercase;
        font-size: 26px;
        font-family: "Archivo", sans-serif;
    }
    .bestLogistic_item-position {
        display: none;
    }
    .bestLogistic__img-top {
        display: none;
    }

    .bestLogistic {
        display: flex;
        margin-top: 0px;
    }
    .main__title-secound {
        font-size: 25px;
        text-align: start;
        letter-spacing: 5px;
    }
    .main__text {
        font-size: 20px;
    }

    .midle__card-section {
        margin: 10px;
    }
    .midle__card-title {
        margin: 0px;
    }
    .midle__card-section {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 0 30px 10px;
        background-image: url(images/card_1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .midle_cards {
        background-image: none;
        padding: 0px;
        display: flex;
    }

    .midle_cards-red {
        background-image: none;
        padding: 5px;
        border-radius: 15px;
        display: flex;
        margin-right: 10px;
    }

    .midle__card-title {
        border: none;
        border-right: 3px solid #000;
        font-size: 30px;
        font-weight: 500;
        padding-right: 10px;
        margin-right: 20px;
    }
    .midle__card-text {
        font-size: 20px;
        font-weight: 400;
        width: 100%;
        padding-top: 0;
    }
    .main {
        padding-top: 0px;
    }
    .about__section-block-img {
        display: none;
    }
    .midle_cards-red {
        background-image: none;
        padding: 0px;
        border-radius: 15px;
    }
    .about__section-block {
        display: block;
        justify-content: space-between;
        margin: auto;
        padding: 0 20px 0 20px;
    }
    .about__section-block-size {
        max-width: 720px;
        margin: auto;
    }

    .solution__main-block {
        padding: 30px 0px;
        background-image: url(images/bestCar.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .about__section-block-size {
        background-color: rgba(242, 242, 242, 0.8);
        padding: 20px;
    }
    .contact__block {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .contact__block-btn-position {
        text-align: center;
    }
    .footer-position {
        padding-left: 25px;
    }
    .footer-position h4 {
        font-size: 20px;
    }
    .footer__block-nav-items h3 {
        font-size: 20px;
    }
    .footer {
        padding: 50px 50px 0 50px;
    }
    .footer-position-certification {
        margin-top: 50px;
    }
    .header__container {
        padding-top: 350px;
    }

    .header__container {
        padding-top: 230px;
    }

    .header__bg {
        padding-bottom: 120px;
    }
    .bestLogistic__text {
        padding-top: 10px;
        font-size: 20px;
        max-width: 1200px;
    }
    .header__btn-section {
        margin-top: 15px;
    }
}
@media (max-width: 840px) {
    .midle__card-title {
        border: none;
        border-bottom: 3px solid black;
        font-size: 30px;
    }
    .midle__card-section {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .midle__card-text {
        text-align: center;
        padding-top: 15px;
    }
    .midle_cards {
        display: block;
    }
    .midle_cards-red {
        display: block;
    }
    .main__text {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .planingCard-pcSection-img{
        display: none;
    }
    .services__btn-section {
        display: none;
    }
    .footer__info-block {
        display: block;
        padding-left: 45px;
    }
    .footer__info-title {
        font-size: 30px;
    }
    .footer__info-text {
        font-weight: 400;
        margin-bottom: 15px;
    }

    .header__bg {
        max-height: 500px;
    }
    .delivery__position {
        margin-top: 10ox;
        margin-bottom: 10px;
    }
    .header__bg {
        background-image: url(images/header_img.jpg);
        padding-bottom: 120px;
    }

    .quate {
        display: block;
        padding-left: 45px;
    }

    .bestLogistic {
        margin-top: 0;
    }

    .about__title {
        font-size: 26px;
        padding-bottom: 5px;
    }
    .about__warning-text {
        margin-bottom: 5px;
    }
    .contact__block-mainForm-phone {
        display: none;
    }
    .contact__block {
        display: block;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .contact__block-btn-position {
        text-align: center;
    }
    .contact__block-title {
        padding: 20px 0px 10px 0px;
        font-size: 22px;
        text-align: start;
    }
    .contact__block-shortForm {
        background: none;
    }
    .contact__form {
        padding: 0px 0 30px 0;
    }
    .contact__block-shortForm {
        padding: 0 30px;
    }
    .contact__block-shortForm input {
        padding: 10px;
        font-size: 26px;
        margin-top: 25px;
        max-width: 100%;
        background: #fff;
    }
    .contact__block-btn {
        padding: 15px 0 15px 0;
        font-size: 15px !important;
        font-size: 10px;
        margin-top: 20px;
    }
    .footer {
        padding: 20px 0 !important;
    }
    .footer-position {
        display: block;
    }
    .footer-position-nav {
        justify-content: space-between;
        padding-top: 20px;
        padding-right: 20px;
    }
    .footer__block-nav-items h3 {
        font-size: 15px !important;
    }
    .footer-position-certification {
        margin-top: 30px !important;
        font-size: 15px;
    }

    .midle_cards {
        margin: 0px 20px;
    }
    .midle_cards-red {
        margin: 0px 20px;
    }
    .midle__card-section {
        margin: 10px;
    }
    .main__title-secound {
        text-align: center;
        margin-top: 20px;
        letter-spacing: 5px;
        font-size: 20px;
    }
    .main__text {
        font-size: 18px;
        max-width: 100%;
    }
    .main__text-container {
        background-color: rgba(242, 242, 242, 0.7);
        padding: 15px 20px 20px 25px;
        border-radius: 5px;
        max-width: 500px;
        margin: auto;
    }
    .header-container {
        padding-top: 10px !important;
    }
    .header__container {
        padding-top: 150px !important;
        padding: 0 10px;
    }
    .main__title {
        font-size: 30px;
        font-weight: bold;
    }
}

@media (max-width: 640px) {

    .planingCard {
        display: none;
    }
}

@media (max-width: 420px) {
    .planingCard-pcSection-img{
        display: none !important;
    }
    .ourServices__text {
        font-size: 20px;
    }
    .footer__info-block {
        display: block;
        padding-left: 45px;
    }
    .footer__info-title {
        font-size: 25px;
    }
    .footer__info-text {
        font-size: 20px;
    }

    .header__bg {
        padding-bottom: 140px;
    }
    .footer-position-nav {
        display: block;
    }
    .footer-position-certification {
        margin-top: 30px !important;
        font-size: 20px;
    }
    .main__title {
        font-size: 25px !important;
        padding-right: 15px;
    }

    .main__title-secound {
        font-style: italic;
    }

    .quate {
        padding-right: 25px;
    }
    .midle__card-title {
        font-size: 25px;
        letter-spacing: 4px;
        font-weight: bold;
        font-family: "Archivo", sans-serif;
    }

    .midle__card-text {
        font-size: 17px;
    }
    .bestLogistic_block {
        padding: 0 20px;
    }

    .midle__title {
        font-size: 21px;
    }
}
