body {
    background: #f3f4f6;
    min-width: 375px;
}
.container {
    max-width: 1056px;
    margin: auto;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Archivo", sans-serif;
}
h3 {
    font-size: 17px;
}
h2 {
    font-size: 35px;
    color: #1e3a8a;
}

button {
    display: inline-block;
    background-color: #f97316;
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}
button,
 a {
    cursor: pointer;

    font-family: "Archivo", sans-serif;
}
button:hover {
    background-color: #fb923c; /* немного светлее */
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}
p {
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* высота окна */
  }
  
  main {
    flex: 1; /* растягивает основной контент */
  }
  
  footer {
    background: #333;
    color: #fff;
    padding: 20px;
  }
.navbar {
    background-color: rgba(242, 242, 242, 0.9);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 15px;
    min-width: 330px;
    height: 65px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.navbar__links {
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 1px;
    font-family: "Archivo", sans-serif;
    position: relative;
    line-height: 1; /*задаём высоту строки*/
    text-decoration: none; /*убираем подчёркивание*/
    align-items: center;
}
.navbar__links img{
    width: 25px;
    height: auto;
}
.navbar__links:after {
    padding-bottom: 2px;
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #1e3a8a; /*задаём цвет линии*/
    content: "";
    margin-top: 5px;
    transition: width 0.3s ease-out; /*задаём время анимации*/
}
.navbar__links-signIn{
    display: none;
}
.navbar__links-signIn-pc{
    display: block;
}
.links__signInSetts img{
    width: 30px;
    height: auto;
    padding-right: 5px;
}
.navbar__links:hover:after,
.navbar__links:focus:after {
    width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.logo {
    width: 250px;
    height: 120px;
}
.navbar ul.links {
    margin-left: auto;
    margin-right: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    transition:
        0.4s ease all,
        0s ease background;
    height: 100%;
}
.navbar ul.links li {
    text-transform: uppercase;
    padding: 0 15px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        0.4s ease all,
        0s ease margin;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.card__item {
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    max-width: 300px;
}
.card__item:hover {
    transform: translateY(-5px);
}
.card__item img {
    width: 60px;
    height: 60px;
}
.card__item-logo {
    font-size: 19px;
    color: #1e3a8a;
}
.section__logo {
    color: #1e3a8a;
    padding: 15px 15px;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
}
.card__item-text {
    font-size: 17px;
    color: #1f2937;
}

.services {
    margin-top: 25px;
    padding: 25px 0;
    background-image: url(images/footer_bg.jpg);
}
.services__item {
    background: #f3f4f6;
    max-width: 220px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}
.services__item img {
    width: 220px;
    height: auto;
    border-radius: 15px 15px 0 0;
}
.services__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.services__item-textBlock h3 {
    padding-bottom: 3px;
    color: #1e3a8a;
}
.services__item-textBlock {
    padding: 10px;
}

.midleSection__contacts {
    margin-top: 25px;
    text-align: center;
    background-position: center center; /* по центру по X и Y */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0;
    background-image: url(images/footer_bg.jpg);
}
.midleSection__contacts h2 {
    padding: 0px 25px 15px 25px;
}
.card-infoBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 25px;
}
.card-infoBlock-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    text-align: start;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    max-width: 400px;
}
.card-infoBlock-item div{
    padding: 10px 10px 0 10px ;
}
.card-infoBlock-logo {
    padding: 25px 0;
    text-align: center;
}
.card-infoBlock-item img {
    width: 55px;
    height: auto;
}
.card-infoBlock-item:hover {
    transform: translateY(-5px);
}

.swiper {
    margin: auto;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}
.swiper-slide {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.swiper h2 {
    margin: 25px 25px;
}
.swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(30, 58, 138, 0.08);

    border-radius: 15px;
}
.rating-img {
    width: 35px;
    height: auto;
    margin: 5px;
}
.rating-block {
    display: flex;
    justify-self: center;
}
.contactcForm {
    background-image: url(images/footer_bg.jpg);
}
.swiper-slide {
    border-bottom: 2px solid #3b82f6;
}
.swiper-slide-text {
    border-top: 2px solid #f3f4f6;
    border-bottom: 2px solid #f3f4f6;
    padding: 15px 0;
    height: 50px;
    margin-top: 5px;
}

.rating__hero {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 0 50px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.contact__block {
    background: #fff;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(30, 58, 138, 0.08);
    max-width: 500px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
}
.contact__block p {
    padding-top: 10px;
}

.contact__input {
    padding: 15px;
    border: 1px solid #827437;
    font-size: 26px;
    color: #000;
    font-family: "Archivo", sans-serif;
    border-radius: 15px;
    background: #eaeaea;
    margin-top: 25px;
}

.header__bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(./images/gruzovik-na-sosse-pri-zahode-solnca.jpg);
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.header__container {
    padding-top: 220px;
    padding-left: 100px;
}
.header__container h1 {
    font-size: 70px;
    color: #1e3a8a;
}
.header__container h3 {
    font-size: 25px;
    padding: 10px 0 10px 0;
    color: #1e3a8a;
}
.header__container p {
    font-size: 20px;
    padding-bottom: 10px;
    max-width: 550px;
}

.contact-section {
    display: flex;
    align-items: stretch;
    margin: auto;
    background: #f9f9f9;
    margin-top: 45px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.contact-image {
    flex: 1 1 50%;
    margin: auto;
   
}

.contact-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

.contact-form {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: white;
}

.contact-form h2 {
    margin-bottom: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    color: #1e3a8a;
    border: none;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.contact-form textarea {
    resize: none;
}
.contact-form {
    text-align: center;
}

.footer {
    background-image: url(images/footer_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 50px;
    margin-top: 30px;
}
.footer-position {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.footer-position-nav {
    justify-content: space-around;
    display: flex;
}
.footer-position-certification {
    text-align: center;
    border-top: 0.5px solid rgb(176, 171, 171);
    padding: 25px 0;
    margin-top: 50px;
    color:#fb923c; ;
}
.footer__block-logos {
    justify-content: space-between;
    max-width: 200px;
    margin-top: 25px;
    text-align: center;
    display: flex;
}
.footer__block-logos img{
    width: 25px;
    height: auto;
}
.footer__block-nav-items h3 {
    font-size: 24px;
    margin-bottom: 10px;
   
}
.footer-position h4 {
    font-size: 28px;
    margin-bottom: 15px;
}
.footer-position p {
    font-size: 16px;
    margin-bottom: 15px;
}
.footer-position a{
   color: #fb923c;   
   font-size: 19px;

}

.admin__main-user{
    padding: 25px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    max-width: 90%;
    margin: auto;
    margin-top: 120px;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
}

.admin__main-user{
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


  .client-card {
    text-align: start;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 12px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  .client-card h3 {
    margin: 0 0 8px;
  }
  .client-card p {
    margin: 4px 0;
  }
.close-btn{
    width: 250px;
    margin:25px;
}



@media (max-width: 1600px) {
    .header__container {
        background: rgba(24, 22, 22, 0.5);
        height: 100vh;
    }
    .header__container h1 {
        color: #1e3a8a;
    }
    .header__container h3 {
        color: #fb923c;
    }
    .header__container p {
        color: white;
    }
}
@media (max-width: 1200px) {
    .footer {
        padding: 50px 50px 0 50px;
    }
    .contact-image {
        display: none;
    }
    .header__container {
        padding-top: 150px;
    }

    .header__bg {
        max-height: 500px;
        padding-bottom: 120px;
    }
    .toggle {
        position: absolute;
        top: 45px;
        right: 20px;
        z-index: 99;
        transform: translateY(-50%);
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        background: #fb923c;
        border-radius: 5px;
        margin-right: 25px;
        justify-content: center;
        align-items: center;
    }
    .toggle > * {
        width: 90%;
        height: 2px;
        background: #1e3a8a;
        margin: 3px 0;
    }
    .navbar.collapsed .toggle .line1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }
    .navbar.collapsed .toggle .line2 {
        opacity: 0;
    }
    .navbar.collapsed .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .navbar.collapsed .logo {
        position: absolute;
        z-index: 44;
    }
    .navbar__links-signIn{
        display: block;
    }
    .navbar__links-signIn-pc{
        display: none;
    }
    .navbar .links {
        position: fixed;
        background: rgba(24, 22, 22, 0.9);
        z-index: 40;
        top: 0;
        left: -100%;
        flex-direction: column;
        width: 75vw;
        height: 100vh;
    }
    .navbar .links li:first-child {
        margin-top: 80px;
    }
    .navbar.collapsed .links {
        left: 0;
    }
    .navbar.collapsed .links a {
        color: #fff;
    }
    .navbar.collapsed .links li {
        width: 100%;
    }
    .navbar.collapsed .links li:hover a {
        color: #fb923c;
    }

    .navbar.collapsed ~ main {
        filter: blur(1px);
        opacity: 0.8;
    }
}
@media (max-width: 933px) {
    .card-infoBlock-item{
        max-width: 390px;
    }
}

@media (max-width: 768px) {
    .header__bg {
        max-height: 500px;
    }
    .header__container {
        padding: 150px 25px 0 25px;
    }
    .header__container h1 {
        font-size: 35px;
    }
    .header__container h3 {
        font-size: 30px;
    }
    .header__container p {
        font-size: 20px;
        padding-bottom: 20px;
    }
    .contact-section {
        flex-direction: column;
    }
    .footer-position {
        display: grid;
        grid-template-columns: 1fr ;
    }
    .footer-position-nav{
        margin-top: 50px;
    }
    .footer-position-nav{
        justify-content: space-between;
    }
    .card-infoBlock-item {
        max-width: 300px;
    }

}
@media (max-width: 733px) {
    .card-infoBlock-item{
        max-width: 400px;
    }
}
@media (max-width: 464px) {
    .header__bg {
        padding-bottom: 140px;
    }
    .services__item {
        max-width: 320px;
    }
    .services__item img {
        width: 320px;
    }
    .services__block {
        gap: 2rem;
    }
    .footer-position-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        text-align: center;
    }
    .form-grid {
        grid-template-columns: 1fr;
    }
    .card-infoBlock{
        margin:0 25px;
    }
}
