body {
    background: #f3f4f6;
    min-width: 375px;
}
.container {
    max-width: 1056px;
    margin: auto;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Archivo", sans-serif;
}
h3 {
    font-size: 17px;
}
h2 {
    font-size: 35px;
    color: #1e3a8a;
}

button {
    display: inline-block;
    background-color: #f97316;
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #fb923c; /* немного светлее */
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}
p {
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
}
.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.card__item {
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    max-width: 300px;
}
.card__item:hover {
    transform: translateY(-5px);
}
.card__item img {
    width: 60px;
    height: 60px;
}
.card__item-logo {
    font-size: 19px;
    color: #1e3a8a;
}
.section__logo {
    color: #1e3a8a;
    padding: 15px 15px;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
}
.card__item-text {
    font-size: 17px;
    color: #1f2937;
    padding: 10px 0;
}

.services {
    margin-top: 25px;
    padding: 25px 0;
    background-image: url(images/footer_bg.jpg);
}
.services__item {
    background: #f3f4f6;
    max-width: 220px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}
.services__item img {
    width: 220px;
    height: 300px;
    border-radius: 15px 15px 0 0;
}
.services__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.services__item-textBlock h3 {
    padding-bottom: 3px;
    color: #1e3a8a;
}
.services__item-textBlock {
    padding: 10px;
}

.midleSection__contacts {
    margin-top: 25px;
    text-align: center;
    background-position: center center; /* по центру по X и Y */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0;
    background-image: url(images/footer_bg.jpg);
}
.midleSection__contacts h2 {
    padding-bottom: 15px;
}
.card-infoBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.card-infoBlock-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    max-width: 400px;
}
.card-infoBlock-logo {
    padding: 25px 0;
    text-align: center;
}
.card-infoBlock-item img {
    width: 55px;
    height: auto;
}
.card-infoBlock-item:hover {
    transform: translateY(-5px);
}

.swiper {

    margin: auto;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}
.swiper-slide {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.swiper h2 {
    margin: 25px 0;
}
.swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(30, 58, 138, 0.08);

    border-radius: 15px;
}
.rating-img {
    width: 35px;
    height: auto;
    margin: 5px;
}
.rating-block {
    display: flex;
    justify-self: center;
}
.grg{
    background-image: url(images/footer_bg.jpg);
}
.swiper-slide {
    border-bottom: 2px solid #3b82f6;
}
.swiper-slide-text {
    border-top: 2px solid #f3f4f6;
    border-bottom: 2px solid #f3f4f6;
    padding: 15px 0;
    margin-top: 5px;
}

.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 0 50px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.contact__block {
    background: #fff;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(30, 58, 138, 0.08);
    max-width: 500px;
    text-align: center;
    display: grid
    ;
        grid-template-columns: 1fr;
    border-radius: 15px;
}
.contact__block p {
    padding-top: 10px ;
    
}
.tesr{
    width: 45px;
    height: 45px;
}
.contact__input{
    padding: 15px;
    border: 1px solid #827437;
    font-size: 26px;
    color: #000;
    font-family: "Archivo", sans-serif;
    border-radius: 15px;
    background: #eaeaea;
    margin-top: 25px;
}